.product-card {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 250px;
}

.product-card h3 {
    font-size: 1rem;
    /* margin-bottom: 0.5rem; */
}

.product-card p {
    font-size: 0.9rem;
    color: #555;
}

.price-button {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#price {
    font-weight: bold;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}