.order-card {
    display: flex;
    border: 2px solid #ccc;
    padding: 15px;
    gap: 10rem;
}

#order-card-details {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

#product-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #ccc;
}

#product-name {
    margin: 0
}