.details-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.product-details {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    align-items: start;
    width: 600px;
    /* background-color: blue; */
    padding: 1rem;
}

.product-img {
    /* background-color: blue; */
    width: 500px;
    border: 2px gray solid;
}